.container {
  color: black;
  width: 80dvw;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "a b b"
    "a b b"
    "a c d"
    "a c d";
  grid-template-rows: 8rem 8rem 8rem 8rem;

    > * {
      padding: 1rem;
    }

  .a {
    grid-area: a;
    background-image: url("../../assets/background-image-1.svg");
  }

  .b {
    grid-area: b;
    background-image: url("../../assets/background-image-2.svg");
  }
  .c {
    grid-area: c;
    background-image: url("../../assets/background-image-3.svg");
  }
  .d {
    grid-area: d;
    background-image: url("../../assets/background-image-4.svg");
  }
}