.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    gap: 2rem;

    .phone,
    .mail {
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 2rem;

    .icons {
      display: flex;
      align-items: center;
      gap: .8rem;
    }
  }
}